* {
    margin: 0;
    padding: 0 0;
    box-sizing: border-box;
}

h1,h2,h3,h4 {
    color: #0f0fc9 ;
    font-family: sans-serif;
    padding-left: 10px;
    margin: 10px 0;
        }

    
ol {
    padding-left: 40px;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

nav {
    text-align: right;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 5px 5px;
    display: block;
    background-color: #c4caed;
    border-bottom: solid 5px #39437d;
}

.nav_logo {
    padding-bottom: 0;
    ;
}

a {
    text-decoration: none;
    font-family: sans-serif;
        
}

li {
    font-family: sans-serif;
}


article {
    background-color: #d5d5d5 ;
    padding-top: 10px;
    border-left: solid 5px #39437d;
    border-right: solid 5px #39437d;
}

aside {
    background-color: #d5d5d5;
    border-left: solid 5px #39437d;
    border-right: solid 5px #39437d;
}
.footer {
    
    text-align: center;
    font-size: 14px;
    border-top: solid 10px #39437d;
    background-color: #c4caed;
}

a:link {
    font-style: normal;

}

a:visited {
    font-style: normal;
}

a:hover {
    border-color: #39437d;
    color: white;
}

a:active {
    background-color: #c4caed;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    
}

.linkedin {
    padding-left: 10px;
    
    
}

.flex_container {
    padding-left: 20px;

    width: 1000px;
}

.fl_1, .fl_2, .fl_3, .fl_4, .fl_5, .fl_6, .fl_7, .fl_8 {
    margin-top: 20px;
    width: 130px;
}

.fl_2 {
    padding-left: 5px;
}